<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Date 1</title>
</head>
<body>
    <h1>Méthode 1</h1>
    <p>Date et heure du jour : {{ dateDuJour }}</p>
    <p><a href="{{ path('accueil') }}">Retour</a></p>
</body>
</html>