<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Date 2</title>
</head>
<body>
    <h1>Méthode 2</h1>
    <p>Date et heure du jour : {{ "now"|date("d/m/Y H:i:s") }}</p>
    <p><a href="{{ path('accueil') }}">Retour</a></p>
</body>
</html>